.hero {
  display: flex;
  align-items: center;
    background: $main-site-section;
    height: 400px;
    margin: 0 auto;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero-bg-mob-1x.jpg);

  background-repeat: no-repeat;
  background-size: cover;
  padding: 118px 0;
  @media (min-resolution: 2dppx) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero-bg-mob-2x.jpg);
  }

  @media screen and (min-width: 768px) {
    width: 100%;
    // max-width: 768px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero-bg-tab-1x.jpg);
  }

  @media screen and (min-width: 768px) and (min-resolution: 2dppx) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero-bg-tab-2x.jpg);
  }

  @media screen and (min-width: 1200px) {
    width: 100%;
    max-width: 1600px;
    min-height: 600px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero-bg-note-1x.jpg);
    padding-top: 200px;
    // padding-bottom: 280px;
  }

  @media screen and (min-width: 1200px) and (min-resolution: 2dppx) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero-bg-note-2x.jpg);
  }
  background-position: center;
  }

  .hero__block {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero__title {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--main-title-color);

    @media screen and (min-width: 1200px) {
      font-size: 44px;
      line-height: 1.36;
    }
  }